fastapi~=0.112.1
uvicorn
sqlalchemy~=2.0.32
alembic~=1.13.2
pydantic~=2.8.2
python-jose~=3.3.0
passlib~=1.7.4
email-validator
python-dotenv~=1.0.1
transformers~=4.44.2
pydantic-settings~=2.4.0
pytest~=8.3.2